<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <h1>EJS js</h1>
        <main>
          <h2>Lista de Productos</h2>
          <% if(cantproductos){ %>
            <table>
              <thead>
                <th>Nombre</th><th>Precio</th><th>Imagen</th>
              </thead>
              <tbody>
                <%productos.forEach(function(producto) {%>
                  <tr>
                    <td><%=producto.nombre%></td>
                    <td>$<%=producto.precio%></td>
                    <td><img src=<%=producto.url%> alt="" /></td>
                  </tr>
                  <%});%>
              </tbody>
              <tfoot>
                <tr><td colspan="3"># Productos: <%=cantproductos%></td></tr>
              </tfoot>
      
            </table>
            <% } else{ %>
            <p class="nohay">No hay productos cargados</p>
            <% } %>
        </main>
        <section class="Botones">
          <a href="/">Cargar Producto</a>
        </section>
      </div>
</body>
</html>